# VisualStudio
.vs/
Build/
/Library/

# ThirdParty distribution libraries
!/ThirdParty/Library/**/*.lib

# Runtime log output
**/Logs/

# Codex working notes
/.codex/working/

# GameAssets
/Assets/**

# Ignore Reference
Reference/DX12/
