# VisualStudio
.vs/
Build/

# Runtime log output
**/Logs/

# Codex working notes
/.codex/working/

# GameAssets
Assets/**

!Assets/**/
!Assets/**/*.cpp
!Assets/**/*.h
!Assets/**/*.cscript

# Ignore Reference
Reference/DX12/
